.card {
  background: #fff;
  border-radius: 5px;
  height: 250px;
  position: relative;
  margin-right: 5px;
  margin-bottom: 20px;
  width: 280px;
  box-shadow: 10px 8px 10px rgb(5, 46, 116);
  text-align: left;
  overflow: hidden;

}

.card:hover{
  transform: scale(1.1);
  transition: .5s;
}