.card {
  background: #fff;
  border-radius: 2px;
  height: 250px;
position: relative;
margin-right: 4px;
margin-bottom: 20px;
  width: 280px;
  box-shadow: 0 3px 6px rgb(5, 116, 33), 0 3px 6px rgb(5, 116, 33);
  text-align: left;
  overflow: hidden;

}

.card:hover{
  transform: scale(1.1);
  transition: .5s;
}